## FTL Game stuff
/settings.ini
*.log
crashlogs/

## Build Stuff
bin/
obj/
libzhlproject/
FTL_HyperspaceGCC.layout
FTL_HyperspaceGCC.depend

## Other
.save-failed

## Editor stuff
# KATE
*.kate-swp

# KDE Dolphin
*.directory
