name: Update Wiki

on:
  release:
    types: [published]
  workflow_dispatch:
    # Manual run

jobs:
  update-wiki:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Update wiki
        run: .github/workflows/updateWiki.sh
        shell: bash
        env:
          WIKI_DIR: wiki
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
